<template>
  <div class="copyRightWrapper">
    <!-- <h2>欢迎订阅</h2> -->
    <!-- <p class='wechat'>1. 微信公众号 - 链物志</p> -->
    <!-- <img src="../../images/wechatQrcode.jpg" alt="wechatQrcode"> -->
    <!-- <p>
      1. 收藏 <a href="https://levblanc.com" target="_blank">博客链物志</a>
    </p>-->
    <!-- <p>
      <a href="https://www.yuque.com/levblanc/weekly" target="_blank">语雀上的repo</a>
    </p>-->
    <!-- <p>
      2. 知乎专栏 <a href="https://zhuanlan.zhihu.com/connet-the-dots" target="_blank">链物志</a>
      （时间所限，延时更新）
    </p>-->
    <p class="copyRight">版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</p>
  </div>
</template>

<style lang="stylus" scoped>
.copyRightWrapper {
  text-align: center;
  margin-top: 100px;
}
</style>

