<template>
  <p>
    <span>作者：留白shiye</span>
    <span class="seperator">|</span>
    <span>日期：{{ date }}</span>
  </p>
</template>

<style lang="stylus" scoped>
  .seperator
    margin: 0 10px
    color: gray
</style>

<script>
export default {
  props: {
    date: {
      reqired  : true,
      type     : String,
      default  : '',
      validator: (value) => {
        const regex = new RegExp(/\d{4}-\d{2}-\d{2}/g);
        return regex.test(value);
      }
    }
  }
}
</script>


